[Unit]
Description=Run Fail2Ban DDNS whitelist updater every 5 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
Persistent=true

[Install]
WantedBy=timers.target
